@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$black: #333;
$white: #ccc;

html {
  background-color: $black;
};

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Open Sans;
  background-color: $black;
};

.navbar {
  margin-bottom: 20px;
};

.navbar-default .navbar-brand, .jumbotron {
  color: $black;
};

.ng-dirty.ng-invalid {
  border-color: red;
}

.pointer {
  cursor: pointer;
}

#message {
  margin-top: 30px;
} 

.stocks {
  margin-top: 20px;
}

#chart {
  width: 100%;
  height: 450px;
}